.light-theme .task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.light-theme .task-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s, background-color 0.2s;
    color: #333;
}
.light-theme .task-item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.light-theme .task-item.completed {
    opacity: 0.6;
}

.light-theme .task-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.light-theme .task-title {
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
    font-weight: 500;
    color: #333;
}
.light-theme .task-title:hover {
    color: #0066cc;
    text-decoration: underline;
}

.light-theme .task-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.light-theme .edit-btn,
.light-theme .delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #555;
    transition: color 0.2s;
}
.light-theme .edit-btn:hover {
    color: #000;
}
.light-theme .delete-btn:hover {
    color: #b70f0f;
}

.light-theme .section-title {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #333;
}

.dark-theme .section-title {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #f8f8f8;
}

.dark-theme .task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dark-theme .task-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s, background-color 0.2s;
    color: #ddd;
}
.dark-theme .task-item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .task-item.completed {
    opacity: 0.6;
}

.dark-theme .task-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dark-theme .task-title {
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
    font-weight: 500;
    color: #fff;
}
.dark-theme .task-title:hover {
    color: #7ec8ff;
    text-decoration: underline;
}

.dark-theme .task-right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dark-theme .edit-btn,
.dark-theme .delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #ccc;
    transition: color 0.2s;
}
.dark-theme .edit-btn:hover {
    color: #fff;
}
.dark-theme .delete-btn:hover {
    color: #f66;
}
