@font-face {
  font-family: 'SF UI Text';
  src: url('./fonts/SFUIText-Regular.ttf') format('truetype'),
  url('./fonts/SFUIText-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('./fonts/SFUIText-Bold.ttf') format('truetype'),
  url('./fonts/SFUIText-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('./fonts/SFUIText-RegularItalic.ttf') format('truetype'),
  url('./fonts/SFUIText-RegularItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('./fonts/SFUIText-BoldItalic.ttf') format('truetype'),
  url('./fonts/SFUIText-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'SF UI Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
